/* Navbar bar style, flex setup*/

nav {
    display: flex;
    font-weight: bolder;
    flex-direction: column;
        
}

/*Navbar change 768px */

  @media only screen and (min-width: 768px) {
    nav { flex-direction: row; }
    nav { font-size: 2em; }
}


/*Navbar link styles*/

nav a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
    flex: 1;
    text-align: center;
    margin: 0.25em;
    padding: 0.25em;
    text-decoration: none;
    color: whitesmoke;
}

/*Body Styles*/

  body {
          background-color: black;

}

/*Cursor blink selector*/

    #blink{
        animation:blinkingText 1.2s infinite;
        font-size:100%;
        text-decoration: none;
        
}
        
    @keyframes blinkingText{
        0%{     color: #ffffff ;}
        25%{    color: #afafaf ;}
        49%{    color: #747474 ;}
        60%{    color: transparent;}
        85%{    color: transparent ;}
        100%{   color: #00ff22 ;}
}