/* Navbar bar style, flex setup*/

nav {
    display: flex;
    font-weight: bolder;
    flex-direction: row;
    font-size: 80%;
        
}

/*Navbar link styles*/

nav a {
  font-family: roboto;
  font-size: 2em;
  flex: 1;
  text-align: center;
  margin: 0.25em;
  padding: 0.25em;
  text-decoration: none;
  color: #f5fffa;
}


/*Index Page Heading Styling*/

    .summary-text {
  color: #F5FFFA;
}
    .headline {
    color: #F5FFFA;
 }

/*Media Query change under 768 */

@media only screen and (max-width: 768px) {
    nav { flex-direction: row; }
    nav { font-size: 50%; }
    footer { font-size: 80%;}
    blog-heading {font-size: 1em; }
    blog-heading {text-align: center;}

}

/*Media Query change under 480 */

@media only screen and (max-width: 480px) {
    nav { flex-direction: column; }
    nav { font-size: 40%; }
    footer { font-size: 60%;}
    blog-heading {font: size 1em;}
    blog-heading {text-align: center;}
    }



/*Body Styles*/

  body {
          background-color: #222;

}

/*Cursor blinking*/

    #blink{
        animation:blinkingText 1.2s infinite;
        font-size:100%;
        text-decoration: none;
        
}
        
    @keyframes blinkingText{
        0%{     color: #ffffff ;}
        25%{    color: #afafaf ;}
        49%{    color: #747474 ;}
        60%{    color: transparent;}
        85%{    color: transparent ;}
        100%{   color: #00ff22 ;}
}

/*Footer styling*/


    footer {
        padding: 10px 10px 10px 10px;
        color: #ffffff;
        font-family: Roboto;
        position: fixed;
        width: 90%;
        bottom: 0;
       
        text-align:right;
    }


/* Blog Flex container */

    .blog-container {
        background: #222;
        color: white;
        padding: 20px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


/*Blog flex items*/

    div {
        background-color: rgb(61, 61, 61);
        border-radius: 10px;
        margin: 20px;
        width: auto;
        height: auto;
    }
    
    .blog-heading {
        font-family: roboto;
        font-size: 2em;
        color: green;
 }

