/* Navbar bar style, flex setup--------------------------------------------------------------------------*/

nav {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

/*Navbar link styles*/

nav a {
  font-family: roboto;
  font-size: 1.25em;
  flex: 1;
  text-align: center;
  padding: 0.3em;
  text-decoration: none;
  color: #f5fffa;
  margin: 00px 30px 00px 30px;
  border-bottom: 5px solid transparent;
  display: inline-block;
  text-align: center;
  /* background-clip: padding-box; */

  
}

nav a:hover {

   color: white;
   border-bottom: 5px solid #ffffff;
 }



/*Body -------------------------------------------------------------------------------------------------*/

body {
    background-image: url("/Images/back.jpg");
    background-repeat: no-repeat, repeat;
    background-size: auto;
    background-color: #525252;
    font-family: roboto;
    text-align: center;
    font-weight: lighter;
    margin: 0%;
    padding: 0%;

}

/*Media Query change over 1024 (desktop)------------------------------------------------------------- */

@media only screen and (min-width: 1024px) {
    nav a { font-size: 200%; }

}

/*Media Query change under 768 (Mobile) */

@media only screen and (min-width: 768px) {
    nav { flex-direction: row; }
    
}

/*Cursor blinking effect---------------------------------------------------------------------------*/

    #blink{
        animation:blinkingText 1.2s infinite;
        font-size:100%;
        text-decoration: none;
        
}
        
    @keyframes blinkingText{
        0%{     color: #ffffff ;}
        25%{    color: #afafaf ;}
        49%{    color: #747474 ;}
        60%{    color: transparent;}
        85%{    color: transparent ;}
        100%{   color: #000000 ;}
}

/*Footer styling---------------------------------------------------------------------------------*/
    .footer {
      z-index: 2;
      background-color: #525252;
      position: fixed;
      color: #ffffff;
      bottom: 0;
      width: 100%;
      height: 20px;
      text-align: center;
     
    }

/*about me page----------------------------------------------------------------------------------*/

.about-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem ;
    padding-bottom: 2em;

}  

  .profile-pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;
}

  .about-text {
    font-family: roboto;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    margin: 0% 15% 0% 15%;
}

  .about-heading {
    font-family: roboto;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}

  .contactbutton {
    background-color: #ffffff;
    font-family: roboto;
    font-weight: bolder;
    border:rgb(0, 0, 0);
    color: #000000;
    text-decoration: none;
    border-radius: 40px;

}



/*Index Page Text Styles-----------------------------------------------------------*/

.headinglarge {
    font-family: lato;
    font-style: italic;
    color: #ffffff;
    font-size: 4em;
    text-align: center;
    
}

.resumetext {
  font-family: lato;
  font-style: italic;
  font-weight: bolder;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  
}

.headingsmall {
    font-family: Lato;
    font-style: normal; 
    color:#ffffff;
    font-size: 1em;
    text-align:center;

}


/*Contact Form--------------------------------------------------------------*/

/*Contact link flexbox*/

.contact-link-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  padding: 15px 15% 15px 15%;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;

  align-items: center;
}

  /*text"*/
    input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 3px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  /*submit button*/
    input[type=submit] {
    background-color: #adadad;
    color: rgb(2, 2, 2);
    padding: 20px 20px;
    border: none;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
  }
  
    .contactcontainer{
      display: flex;
    }

  /*Hover submit button*/
    input[type=submit]:hover {
      background-color: #131313;
      color: white
    }
    
    .contactform {
      color: #ffffff;
      font-family: roboto;
      text-align: center;
      width: 100%;
      margin: 0% 15% 5% 15%;
      padding:10px 10px 10px 10px;
      border-radius:30px;
      background-color: #171516;
      padding: 20px;
  } 

    .contactheading {
      padding: 25px;
      font-family: roboto;
      color: #ffffff;
  }  
/*social media links-------------------------------------------------------------------*/
    .externallogo {
      width: 80px;
      height: 80px;

        }
    
/* Portfolio Page------------------------------------------------------------------*/

    .portfolio-flex-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 60px;
      margin-top: 10px;
     
    }
    
    .skill-flex-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

    }
    .external-link-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        padding: 15px 20px 20px 20px;
      }
      .external-link-logos {
        padding: 15px 20px 20px 20px;
      }
      .externallogostatic {
        height: 90px;
        padding-bottom: 20px;
        
    }
      .nolink{
        color: #ffffff;
      }







