/* Blog page CSS Grid */

.Blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 25px;
  }

  .blog-photo {
    width: 100%;
  }
  
  .blogitem {
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    background: #8cdff0;
    border: 2px solid;
    border-color: black;
    border-radius: 4px;
    padding: 20px;
    display: grid;
    align-items: center;
    color: #222;
  }



/* Navbar bar style, flex setup--------------------------------------------------------------------------*/

nav {
  display: flex;
  flex-direction: column;
  background-color: #bdc7c9;

  width: 100%;
  border-top: 3px solid;
  border-bottom: 3px solid;
  
}

/*Navbar link styles---------------------------------------------------------------------------------------*/

nav a {
font-family: roboto;
font-size: 1.25em;
flex: 1;
text-align: center;
padding: 0.3em;
text-decoration: none;
color: #222;
margin: 00px 30px 00px 30px;
border-bottom: 5px solid transparent;
display: inline-block;
text-align: center;

}

nav a:hover {

 color: white;
 border-bottom: 5px solid #222;
}



/*Body -------------------------------------------------------------------------------------------------*/

body {
  background-image: url("/Images/back.jpg");
  background-repeat: no-repeat, repeat;
  background-size: auto;
  background-color: #ffffff;
  font-family: roboto;
  text-align: center;
  font-weight: lighter;
  margin: 0%;
  padding: 0%;

}


/*Cursor blinking effect---------------------------------------------------------------------------*/

  #blink{
      animation:blinkingText 1.2s infinite;
      font-size:100%;
      text-decoration: none;
      
}
      
  @keyframes blinkingText{
      0%{     color: #ffffff ;}
      25%{    color: #afafaf ;}
      49%{    color: #747474 ;}
      60%{    color: transparent;}
      85%{    color: transparent ;}
      100%{   color: #000000 ;}
}

/*Footer styling---------------------------------------------------------------------------------*/
  .footer {
    z-index: 2;
    border: 2px solid;
    background-color: #bdc7c9;
    position: fixed;
    color: #222;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
   
  }

/*about me page----------------------------------------------------------------------------------*/

.about-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem ;
  padding-bottom: 2em;

}  

.profile-pic {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.about-text {
  font-family: roboto;
  border: 2px solid;
  border-radius: 6px;
  background-color: #8cdff0 ;
  color: #222;
  text-align: center;
  font-size: 1em;
  margin: 0% 15% 0% 15%;
}

.about-heading {
  font-family: roboto;
  color: #222;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
}

.contactbutton {
  background-color: #ffffff;
  font-family: roboto;
  font-weight: bolder;
  border:rgb(128, 106, 106);
  color: #bdc7c9;
  text-decoration: none;
  border-radius: 40px;

}

/*Index Page Text Styles----------------------------------------------------------------------*/

  .indexflex {
    display: flex;
    height:auto;
    flex-direction: column;

  }

.headinglarge{

  font-family: lato;
  font-style: italic;
  color: #222;
  font-size: 2em;
  text-align: center;
  margin-left: 15% ;
  margin-right: 15% ;
  border: 2px solid;
  border-radius: 6px;
  background-color: #8cdff0 ;
  
}

.headingsmall {
  font-family: Lato;
  font-style: normal; 
  color:#222;
  margin-left: 15% ;
  margin-right: 15%;
  font-size: 1em;
  text-align:center;
  border: 2px solid;
  border-radius: 6px;
  background-color: #8cdff0 ;

}

/*Contact Form---------------------------------------------------------------------------------*/

/*Contact link flexbox*/

.contact-link-flex {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
height: 150px;
padding: 15px 15% 15px 15%;
margin-bottom: 40px;
margin-left: 100px;
margin-right: 100px;

align-items: center;
}

/*text"*/
  input[type=text], select, textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 3px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/*submit button*/
  input[type=submit] {
  background-color: #adadad;
  transition: all 0.5s;
  color: #222;
  padding: 20px 20px;
  border: none;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

  .contactcontainer{
    display: flex;
  }

/*Hover submit button*/
  input[type=submit]:hover {
    background-color: #131313;
    color: white
  }
  
  .contactform {
    color: #222;
    font-family: roboto;
    text-align: center;
    width: 100%;
    margin: 0% 15% 5% 15%;
    padding:10px 10px 10px 10px;
    border: 2px solid;
    border-radius: 6px 6px;
    background-color: #8cdff0;
    padding: 20px;
} 

  .contactheading {
    padding: 25px;
    font-family: roboto;
    color: #ffffff;
}  
/*icon image links-------------------------------------------------------------------*/

  .externallogo {
    width: 70px;
    height: 70px;

  }
  
/* Portfolio Page------------------------------------------------------------------*/

  .portfolio-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 10px;
   
  }
  
  .fixpadding {
    padding-bottom: 0px !important;
  }

  .skill-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }
  .external-link-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      padding: 15px 20px 20px 20px;
    }
    .external-link-logos {
      padding: 15px 20px 20px 20px;
    }
    .externallogostatic {
      height: 90px;
      padding-bottom: 20px;
      
  }
    .nolink{
      color: #ffffff;
    }
  
/*Media Query change over 768 (tablet) */

@media only screen and (min-width: 768px) {
  
  nav { 
    
    flex-direction: row;
  
  }

  .externallogo {
    width: 90px;
    height: 90px;

  }
  
  .headinglarge {
    font-size: 4em;

  }

}

/*Media Query change over 1024 (desktop)------------------------------------------------------------- */

@media only screen and (min-width: 1024px) {
  nav a { font-size: 200%; }
  .externallogo {
    width: 100px;
    height: 100px;

  }

  .headinglarge {
    font-size: 6em ;
  } 

}